body {
  padding: 2em; }

code {
  font-family: monospace; }

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; }

.wrapper > * {
  padding: 10px;
  flex: 1 100%; }

.main {
  text-align: center; }

.aside-1 {
  background: #41f44a; }

.aside-2 {
  background: #f45642; }

#slider {
  display: inline-block;
  transition: 2s;
  background: black;
  height: 40px;
  width: 20px;
  border-radius: 10px; }

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px; }
  .aside-1 {
    order: 1; }
  .main {
    order: 2; }
  .aside-2 {
    order: 3; }
  .footer {
    order: 4; } }

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto; } }
